header{
    background-color: bisque;
    background-image: url('../../../public/images/hotel_3.jpg');
    background-size: cover;
    background-position-y: 36em ;
    display: flex;
    align-items: center;
    justify-content: center;
    // object-fit: cover;
    height: 13em;

    .hotel-heading{
        font-size: 3em;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 3px 3px 4px dimgrey;
      
    }

}